USE [master]
GO
/****** Object:  Database [Central]    Script Date: 29/1/2022 15:49:06 ******/
CREATE DATABASE [Central]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Central', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Central.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Central_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Central_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Central].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Central]
GO
/****** Object:  Table [dbo].[Tienda]    Script Date: 29/1/2022 15:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tienda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[telefono] [varchar](8) NOT NULL,
	[rating] [decimal](18, 1) NOT NULL,
	[longitud] [decimal](18, 15) NOT NULL,
	[latitud] [decimal](18, 15) NOT NULL,
 CONSTRAINT [PK_Tienda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTiendasPorCercania]    Script Date: 29/1/2022 15:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerTiendasPorCercania]
	-- Add the parameters for the stored procedure here
	@latitud_cliente decimal(18, 15),
	@longitud_cliente decimal(18, 15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @punto_inicial geography = geography::Point(@latitud_cliente, @longitud_cliente, 4326);

    -- Insert statements for procedure here
	SELECT nombre, direccion, telefono, rating
	FROM Tienda
	WHERE geography::Point([latitud], [longitud], 4326).STDistance(@punto_inicial) IS NOT NULL  
	ORDER BY geography::Point([latitud], [longitud], 4326).STDistance(@punto_inicial);  
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTiendasPorDistancia]    Script Date: 29/1/2022 15:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTiendasPorDistancia]
	-- Add the parameters for the stored procedure here
	@latitud decimal(18, 15),
	@longitud decimal(18, 15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @punto_inicial geography = geography::Point(@latitud, @longitud, 4326);

    -- Insert statements for procedure here
	SELECT *
	FROM Tienda
	WHERE geography::Point([latitud], [longitud], 4326).STDistance(@punto_inicial) IS NOT NULL  
	ORDER BY geography::Point([latitud], [longitud], 4326).STDistance(@punto_inicial);  
END
GO
USE [master]
GO
